footer {
    display: flex;
    justify-content: space-between; 
    background-color: var(--mauve);
    color: var(--jaune);
    font-family: poppins;
    font-size: 13px;
    padding: 40px;
}

.footer-content {
    margin: 5px;
}

footer h2{
    font-family: gliker;
    font-size: medium;
}

footer a {
    color: var(--jaune);
}

footer a:hover {
    color: white;
}

@media screen and (min-width: 900px){
    footer {
        font-size: medium;        
    }
    footer h2{
        font-size: medium;
    }
}