@font-face {
    font-family: more_sugar;
    src: url(../fonts/more-sugar.regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

main {
    padding: 0 10%;
    min-height: 60vh; 
}

h1 {
    text-align: center;
    color: var(--rose);
    font-family: more_sugar;
    font-size: 3vw;
}
h3{
    text-align: center;
    color: var(--rose);
    font-family: more_sugar;
}
.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
}

.menu-container div {
    text-align: center;
    width: 30%;
}

.menu-container img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: #d3d3d3; 
}

.menu-container p {
    font-size: 16px;
    font-weight: bold;
    font-family: poppins;
    margin: 10px 0;
}

.menu-container a {
    text-decoration: none;
    color: var(--rose);
    font-size: 14px;
}