h1 {
    text-align: center;
    color: #f7838d;
}

h2 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content:space-between; 
}

.bouton1 {
    background-color: #ffa175;
    color: white;
    text-align: center;
    border-radius: 36px; 
    width: 230px;
    height: 68px;
    padding: 10px 10px;
    text-decoration: none;
}

