@font-face {
    font-family: more_sugar;
    src: url(../fonts/more-sugar.regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

main {
    padding: 0 10%;
    min-height: 60vh; 
}

h1 {
    text-align: center;
    color: var(--rose);
    font-family: more_sugar;
    font-size: 7vw;
}

p {
    text-align: center;
    font-family: poppins;
    margin: 8px 0;
}

input {
    border-radius: 10px;
    border-color: var(--jaune);
    border-style: solid;
    padding: 2px;
    font-family: poppins;
}

.search {
    display: flex;   
    justify-content: center;
    align-items: center;        
    gap: 10px;                     
    margin: 20px auto;       
}
button {
    display: flex;
    border: none;
    justify-content: center;
    flex-wrap: wrap;
    font-family: more_sugar;
    font-size: 15px;
    margin: 40px 0;
    display: flex;
    background-color: var(--orange);
    color: var(--mauve);
    text-align: center;
    border-radius: 50px; 
    width: 100px;
    height: 44px;
    padding: 10px 30px;
    margin: 10px 5px;
    text-decoration: none;
}

#recipe-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.recipe-card {
    border: 5px dashed var(--rose_pale);
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
}
.recipe-card img {
    max-width: 100%;
    height: auto;
}
.recipe-card h2 {
    font-size: 1.2em;
    font-family: gliker;
    color: var(--rose);
    letter-spacing: 2px;
}

.recipe-card a {
    color: black;
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;
}
.recipe-card a:hover {
    color: var(--orange)
}

@media screen and (min-width: 600px){
    h1 {
        font-size: 5vw;
    }
}

@media screen and (min-width: 900px){
    h1 {
        font-size: 45px;
        margin: 40px 7vw;
    }
}