.top-bar {
    background-color: #af3557;
    color: #ffd483;
    width: 100%;
    display: flex;               
    justify-content: space-between; 
    align-items: center; 
}

.logo img {
    width: 70px;
    height: 80px;   
}

.navigation ul {
    list-style: none;             
    margin: 0;
    padding: 0;
    display: flex;                
}

.navigation li {
    margin: 0 15px;               
}

.navigation a {
    color: #ffd483;                  
    font-size: 20px;       
    font-weight: bold;
    font-family: Gliker;
}